global
{#-    log 127.0.0.1   local0#}
{#-    log 127.0.0.1   local1 notice#}
    maxconn             4096
{#-    user                haproxy#}
{#-    group               haproxy#}
{#-    #daemon#}

defaults
    log     global
    mode    http
    timeout connect 5000
    timeout client 50000
    timeout server 50000

{#{%- if haproxy.stats_enable %}#}
    {#- TODO: more generic setup #}
{#    stats               enable#}
{#    stats               auth test:test#}
{#    stats               uri /stats#}
{#{%- endif %}#}

frontend http
    bind 0.0.0.0:80
{%- for service in services %}
  {%- set name=service.ServiceName | replace('-', '_') %}
  {%- if service.HaproxyCustomFrontend %}
    # CUSTOM: {{ service.ServiceName }} frontend
    {%- for line in service.HaproxyCustomFrontend2 | from_yaml  %}
    {{ line | trim }}
    {%- endfor %}
  {%- elif service.Auto | default(True) %}
    {%- if 'haproxy' not in name %}
    # AUTO: {{ service.ServiceName }} frontend
    acl host_{{ name }} hdr(host) -i {{ service.Domain | default(None) or (service.ServiceName + '.service.consul') }}
    use_backend backend_{{ name }} if host_{{ name }}
    {%- endif %}
  {% endif %}
{%- endfor %}
{%- for service in services %}
  {%- set name=service.ServiceName | replace('-', '_') %}
  {%- if service.HaproxyCustomBackend %}
    {%- for name, lines in (service.HaproxyCustomBackend2 | from_yaml).items() %}
# CUSTOM: {{ name }} backend
backend {{ name }}
      {%- for line in lines  %}
    {{ line | trim }}
      {% endfor %}
    {% endfor %}
  {%- elif service.Auto | default(True) %}
    {%- if 'haproxy' not in name %}
# AUTO: {{ service.ServiceName }} backend
backend backend_{{ name }}
    server {{ service.Node }} {{ service.ServiceAddress }}:{{ service.Port | default(service.ServicePort) }} cookie A check
    {% endif %}
  {% endif %}
{% endfor %}