{% macro frontend(services) %}
{%- for service in services %}
  {%- set name=service.ServiceName | replace('-', '_') %}
  {%- if service.HaproxyCustomFrontend %}
    # CUSTOM: {{ service.ServiceName }} frontend
    {%- for line in service.HaproxyCustomFrontend | from_yaml  %}
    {{ line | trim }}
    {% endfor %}
  {%- elif service.Auto | default(True) %}
    {%- if 'haproxy' not in name %}
    # AUTO: {{ service.ServiceName }} frontend
    acl host_{{ name }} hdr(host) -i {{ service.Domain | default(None) or (service.ServiceName + '.service.consul') }}
    acl host_{{ name }} hdr(host) -i www.{{ service.Domain | default(None) or (service.ServiceName + '.service.consul') }}
    use_backend backend_{{ name }} if host_{{ name }}
    {%- endif %}
  {% endif %}
{%- endfor %}
{% endmacro %}

global
    maxconn 4096

defaults
    log global
    mode http
    timeout connect 5s
    timeout client 120s
    timeout server 120s
    option http-server-close
    option forwardfor header X-Real-IP

{% if env.HAPROXY_ADMIN_HOST %}
listen stats
    bind {{ env.HAPROXY_ADMIN_HOST }}:{{ env.HAPROXY_ADMIN_PORT | default(9000) }}

    stats uri /
    stats realm HAProxy\ Statistics
    stats auth {{ env.HAPROXY_ADMIN_LOGIN | default('haproxy') }}:{{ env.HAPROXY_ADMIN_PASSWORD | default('admin') }}
    stats admin if TRUE
{% endif %}

frontend http
    bind 0.0.0.0:80
    {{ frontend(services) }}


{% if env.HAPROXY_SSL_CERTIFICATE %}
frontend https
    bind 0.0.0.0:443 ssl crt {{ env.HAPROXY_SSL_CERTIFICATE }}
    reqadd X-Forwarded-Proto:\ https
    {{ frontend(services) }}
{% endif %}


{%- for service in services %}
  {%- set name=service.ServiceName | replace('-', '_') %}
  {%- if service.HaproxyCustomBackend %}
    {%- for name, lines in (service.HaproxyCustomBackend | from_yaml).items() %}
# CUSTOM: {{ name }} backend
backend {{ name }}
    timeout client 120s
    timeout server 120s
      {%- for line in lines  %}
    {{ line | trim }}
      {% endfor %}
    {% endfor %}
  {%- elif service.Auto | default(True) %}
    {%- if 'haproxy' not in name %}
# AUTO: {{ service.ServiceName }} backend
backend backend_{{ name }}
    server {{ service.Node }} {{ service.ServiceAddress }}:{{ service.Port | default(service.ServicePort) }} cookie A check
    timeout client 120s
    timeout server 120s
    {% endif %}
  {% endif %}
{% endfor %}
